.auth
  &__form
    max-width: 600px
    padding: 0 10px
    margin: 0 auto
  &__sms-confirm
    display: none
  &__sms-btn
    white-space: nowrap
    background: none
    border: none
    color: #1e53a3
    &:hover
      text-decoration: underline
  &__sign-in_hidden
    display: none
    input 
      disabled: disabled
  &__sign-up_hidden
    display: none
    input 
      disabled: disabled