.contact-form
  width: 400px
  &__tab
    width: 40px
    height: 40px
    background: #1e53a3
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    border-radius: 5px
    margin-right: 8px
    &:last-child
      margin-right: 0
  &__label
    font-weight: 900