.dashboard-hamburger
  display: none
  position: fixed
  bottom: 40px
  right: 40px
  z-index: 10px
  background: #143a72
  width: 50px
  height: 50px
  justify-content: center
  align-items: center
  border-radius: 50%
  +media('650px')
    display: flex