.time
  flex-grow: 1
  margin-left: 20px
  +media('500px')
    margin-left: 0
    width: 100%
    max-width: 272px
  &__inner
    height: 400px
    overflow-y: scroll
    max-height: 250px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 10px
    +media('860px')
      grid-template-columns: repeat(2, 1fr)
    +media('740px')
      grid-template-columns: 1fr
    +media('500px')
      max-height: 150px
  &__option
    border: 1px solid #0f2e5c
    border-radius: 5px
    padding: 0.5rem 1rem
    margin-bottom: 5px
    cursor: pointer
    &:hover
      background: #1e53a3
      color: #fff
  &__option_active
    background: #1e53a3
    color: #fff