.time
  flex-grow: 1
  margin-left: 15px
  height: 400px
  overflow-y: scroll
  max-height: 250px
  &__option
    border: 1px solid #0f2e5c
    border-radius: 5px
    padding: 0.5rem 1rem
    margin-bottom: 5px
    cursor: pointer
    &:hover
      background: #1e53a3
      color: #fff